@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #FDF6EC;
}

hr {
    color: red;
}

nav{
    width: 100%;
    font-size: 1.2rem;
    background-color: #F3E9DD;
    border-radius: 4px;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 4px;
    transition: 100ms;
}

nav a:hover {
    background-color: #ccc3b8;
}

main {
    width: 60%;
    margin: auto;
}

#profile-banner{
    height: 300px;
    background-image: url(https://timelinecovers.pro/facebook-cover/download/photography-city-lights-facebook-cover.jpg);
    background-size:100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

#pic-name{
    height: fit-content;
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    color: black;
    background-color: #FDF6EC;
    padding: 10px;
    border-radius: 3px;
}

#profile-photo img{
    width: 130px;
    border-radius: 4px;
    border: 2px solid #F3E9DD;
}

#profile-name{
    padding: 20px;
    font-size: 2.5rem;
}

#profile-info{
    height: fit-content ;
    background-color: #F3E9DD;
    padding: 20px;
    font-size: 1.2rem;
}

.discription{
    display: flex;
    align-items: center;
}

.discription div{
    padding: 40px;
}

#home-top-section{
    padding: 20px;
} 

#home-top-section h1{
   font-size: 2.2rem;
   padding: 10px;
}

#home-top-section p{
    font-size: 1.3rem;
    padding-left: 10px;
    opacity: 90%;
 }

 #not-a-user-yet {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    background-color:#F3E9DD;
    border-radius: 4px;
 }

 #not-a-user-yet p{
    font-size: 1.5rem;
    padding-left: 0px;
    padding: 20px;
    opacity: 100%;
 }

 #not-a-user-yet button{
    padding: 10px;
    font-size: 1.2rem;
    background-color: #B7CADB;
    border: 2px solid #a2b3c2;
    border-radius: 4px;
    transition: 100ms;
 }

 #not-a-user-yet button:hover{
    background-color: #a2b3c2;
    cursor: pointer;
 }

 #login-section {
    display: flex;
    padding: 40px;
    font-size: 1.2rem;
    text-align: right;
    background-color: #F3E9DD;
}

 #login-section input{
     width: 200px;
     padding: 10px;
     margin-top: 5px;
 }

 #login-section form{
    margin: auto;
}

#login-section form input[type="submit"]{
    width: fit-content;
    padding: 5px;
    font-size: 1rem;
    background-color: #B7CADB;
    border: 2px solid #a2b3c2;
    border-radius: 4px;
    transition: 100ms;
}

#login-section form input[type="submit"]:hover{
    background-color: #a2b3c2;
    cursor: pointer;
}

#register-section {
    display: flex;
    padding: 40px;
    font-size: 1.2rem;
    text-align: right;
    background-color: #F3E9DD;
}

#register-section input{
    width: 200px;
    padding: 10px;
    margin-top: 5px;
}

#register-section form{
   margin: auto;
}

#register-section form input[type="submit"]{
   width: fit-content;
   padding: 5px;
   font-size: 1rem;
   background-color: #B7CADB;
   border: 2px solid #a2b3c2;
   border-radius: 4px;
   transition: 100ms;
}

#register-section form input[type="submit"]:hover{
   background-color: #a2b3c2;
   cursor: pointer;
}

#profiles{
    width: 100px;
    display: flex;
}

.suggested-profile{
    width: fit-content;
    background-color: #F3E9DD;
    text-align: center;
    margin-top: 10px;
    margin-right: 1px;
    border-radius: 4px;
}

.suggested-profile img{
    width: 100px;
    transition: 100ms;
}

.suggested-profile p{
   padding: 5px;
}

.suggested-profile img:hover{
    opacity: 70%;
}

.suggested-profile:hover{
    cursor: pointer;
}